# =========================
# MySQL
# =========================
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# =========================
# n8n (chatbot)
# =========================
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=
