
body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #ffffff; 
}

/* ===== CABECERA ===== */
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: var(--color-secondary);
  border-bottom: 1px solid #222; 
}

.cabecera-izquierda {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Logo */
.logo{
   width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;

}
.logo-restaurante {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--text-primary);
}

/* ===== MENÚ PRINCIPAL ===== */
.menu-principal {
  display: flex;
  gap: 30px;
}

.menu-principal a {
  text-decoration: none;
  color:var(--text-primary); 
  font-weight: 500;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.menu-principal a:hover {
   transform: scale(1.2);
  color: var(--color-primary);
}

/* ===== ACCESO USUARIO ===== */
.contenedor-acceso {
  position: relative;
}

.boton-acceso {
  background: none;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-primary);
  font-size: 0.9rem;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.boton-acceso:hover {
  background-color: var(--color-primary);
  color: #000;
}

/* Menú desplegable */
.menu-desplegable-acceso {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  min-width: 180px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  display: none;
  flex-direction: column;
  overflow: hidden;
  z-index: 100;
}

.opcion-acceso {
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.opcion-acceso:hover {
  background-color: #f2f2f2;
}

/* Mostrar menú */
.contenedor-acceso:hover .menu-desplegable-acceso {
  display: flex;
}
