.hero {
  height: 80vh;
  background-color: var(--color-secondary);
  padding-bottom: 40px;
}

/* Contenedor general */
.hero-overlay {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* IZQUIERDA → imagen */
.hero-imagen {
  height: 100%;
  overflow: hidden;
}

.hero-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* DERECHA → contenido */
.hero-contenido {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hero-contenido h1 {
  font-family: var(--font-graffiti); /* nombre consistente */
  font-size: clamp(2.8rem, 6vw, 6rem);
  line-height: 1.1;
  margin-bottom: 15px;
}

.hero-contenido p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: var(--text-secondary);
  font-family: Helvetica;
}

/* Botones */
.hero-btn {
  display: flex;
  gap: 15px;
}

.hero-btn a {
  padding: 12px 26px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

/* Primario */
.hero-btn a.primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.hero-btn a.primary:hover {
  transform: scale(1.05);
}

/* Secundario */
.hero-btn a.outline {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.hero-btn a.outline:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transform: scale(1.05);
}
