/*
   HERO
*/
.hero {
  position: relative;
  width: 100%;
  height: var(--hero-height);   
  overflow: hidden;
  background-color: var(--color-secondary);
}

/*
   FONDO
*/
.hero__foto {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

/* Overlay para legibilidad */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(8, 8, 8, 0.425),
    rgba(8, 8, 8, 0.7)
  );
  z-index: 0;
}
/*
   CONTENIDO
 */
.hero__content {
  position: relative;
  z-index: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 0 var(--padding);
}

/* 
   TEXTO
 */
.hero_titulo {
  font-family:'Times New Roman', Times, serif;
  font-size: clamp(2.6rem, 6vw, 5rem);
  margin-bottom: 12px;

  color: var(--color-primary);
-webkit-text-stroke: 1px #ffffff;
}

.hero_subtitulo {
   font-family:'Times New Roman', Times, serif;
  font-size: 1.7rem;
  color: var(--text-primary);
  max-width: 720px;
}

/* 
   RESPONSIVE FINO
 */
@media (max-width: 768px) {
  .hero_titulo {
    font-size: 2.2rem;
  }

  .hero_subtitulo {
    font-size: 1rem;
  }
}