/* Layout principal de la app */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.548);
  

}

/* Zona del centro que empuja el footer hacia abajo */
.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}