/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE DE LA APP */
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}
